name: Ping Streamlit App

on:
  schedule:
    # Executa a cada 6 horas
    - cron: "0 */6 * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Testar acesso ao app
        run: |
          echo "Acessando o app em $(date)"
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://https://marketplacesolidario.streamlit.app/)
          echo "Status HTTP: $STATUS"
          if [ "$STATUS" -ne 200 ]; then
            echo "⚠️ O app não respondeu corretamente!"
            exit 1
          else
            echo "✅ O app está online."
          fi
